@charset "utf-8";
/* base */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, span { margin: 0; padding: 0; -webkit-tap-highlight-color: rgba(0,0,0,0) }
body, button, input, select, textarea { font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif; color: #222 }
h1, h2, h3, h4, h5, h6 { font-size: 100% }
html, body { width: 100%; max-width: 100%; min-width: 320px; min-height: 100%; line-height: 1.2 }
b, strong { font-weight: bold }
input { vertical-align: middle }
img { color: transparent; font-size: 0; vertical-align: middle; -ms-interpolation-mode: bicubic; border: 0 }
address, cite, dfn, em, var { font-style: normal }
code, kbd, pre, samp { font-family: courier new, courier, monospace }
small { font-size: 12px }
ul, ol { list-style: none }
sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
fieldset, img { border: 0 }
button, input, select, textarea { font-size: 100% }
table { border-collapse: collapse; border-spacing: 0 }
a { text-decoration: none }
a:hover { text-decoration: none }
.clearfix:before, .clearfix:after { content: '.'; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; width: 0; height: 0 }
.clearfix:after { clear: both }
.clearfix { zoom: 1 }
.fl { float: left }
.fr { float: right }
.hide { display: none }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { display: block; margin: 0; padding: 0 }
/* public */
body { width: 100%; min-height: 100%; background-color: #f5f5f5; margin: 0 auto }
header, footer, .main { width: 100%; margin: 0 auto }
.main { padding-bottom: 1rem }
.con { padding: 0 .35rem }
.cons { padding: .35rem .35rem 0 }
.shadow { box-shadow: 0 0 .1rem #ccc }
.mt35 { margin-top: .35rem }
.fixed { position: fixed; bottom: 0 }
/* color */
.bgc-orange { background: #ff9800 }
.bgc-green { background: #00bbac }
.bgc-blue { background: #3081f3 }
.bgc-red { background: #f0453d }
.bgc-grey { background: #ccc }
.bgc-grass { background: #42b166 }
.bgc-purple { background: #927eed }

.c-orange { color: #ff9800 }
.c-green { color: #00bbac }
.c-blue { color: #3081f3 }
.c-red { color: #f0453d }
/* flex */
.flex-row { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: row; flex-direction: row; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center }
.flex-column { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column; flex-direction: column; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center }
.flex-between { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: row; flex-direction: row; -webkit-justify-content: space-between; justify-content: space-between; -webkit-align-items: center; align-items: center }
/* top */
.top { height: .88rem; background: #3081f3; font-size: .32rem; line-height: .88rem; color: #fff }
.top-l, .top-r { height: 100% }
.top-l img { width: auto; height: 41%; margin-right: .25rem }
.top-l img.logo-top { height: 70%; margin-right: .2rem }
.top-r img { width: auto; height: 68% }
.top a { color: #fff }
/* btns */
.btns { display: inline-block; width: 1.1rem; height: .5rem; border-radius: .5rem; box-shadow: 0 0 .1rem #ccc; font-size: 0.24rem; line-height: .5rem; color: #fff; text-align: center; outline: none }
.do-btns { padding: .35rem }
.do-btns span { font-size: 0.28rem; color: #444; }
.btn { display: block; width: 60%; height: .88rem; margin: 0 auto; padding: 0; border: none; background: #3081f3; border-radius: .88rem; box-shadow: 0 0 .1rem #ccc; font-size: 0.36rem; line-height: .88rem; color: #fff; text-align: center; outline: none }
.do-btn { width: 45%; height: .68rem; margin: 0; padding: 0; border: none; border-radius: .68rem; box-shadow: 0 0 .1rem #ccc; font-size: 0.36rem; line-height: .68rem; color: #fff; text-align: center; outline: none }
.do-name { width: 20%; height: .68rem; margin: 0; padding: 0; border: none; border-bottom: 0.02rem solid #444; background: none; font-size: 0.32rem; line-height: .68rem; text-align: center; outline: none }
/* btmbar */
.btmbar { position: fixed; bottom: 0; width: 100%; height: .98rem; box-shadow: 0 0 .1rem #ccc; background: #3081f3; overflow: hidden; z-index: 999 }
.btmbar ul { height: 100%; margin: 0 .35rem }
.btmbar li { width: 25%; height: 100%; color: #fff; text-align: center }
.btmbar li img { width: auto; height: 44%; margin-top: .12rem }
.btmbar li span { display: block; font-size: .22rem; line-height: .4rem }
.btmbar li a { color: #fff }
.btmbar li.on a { color: #ff9800; font-weight: bold }
/* footer */
footer { height: 0.98rem; background: #3081f3; box-shadow: 0 0 .1rem #ccc; text-align: center }
footer img { width: auto; height: 75%; margin-top: .06rem }

