@charset "utf-8";
/* head */

.det{width: 100%;background: #fff;}
.det dl{margin: 0 .35rem;padding: 0 0 .5rem;font-size: 0.32rem;color: #444;}
.det dl dd{position: relative;height: 1rem;}
.det p{border-left: .05rem solid #3081f3;position: relative;top: .35rem;padding-left: 0.24rem;line-height:.3rem;font-size: .32rem;}
.det input{width: 98%;height: 1.0rem;padding:0 2%; border:.02rem solid #ddd; border-radius:.1rem;background: #f3f3f3; outline:none}
.last{padding-top: 0.35rem;}

.eye1 { position: absolute;top: 50%;right: .25rem;margin-top: -.1rem; width: .42rem; height: .19rem; background: url(../images/ico-eye1.png) no-repeat 0 0; background-size: 100% auto; }
.eye2 { display: none; position: absolute; top: 50%;right: .25rem;margin-top: -.15rem; width: .42rem; height: .29rem; background: url(../images/ico-eye2.png) no-repeat 0 0; background-size: auto 100% }
.btn{margin-top: 0.7rem;text-align: center;}
.btn input{width: 4.5rem;height: 0.88rem;background: #3081f3;font-size: 0.36rem;color: #fff;border:none;border-radius: 0.5rem;}
